<li class="item-comment">
  <small>
    <p><%= comment.user.name %></p>
    <p class="time-ago">
      <%= time_ago_in_words(comment.created_at) + t(".ago") %>
    </p>
  </small>
  <blockquote>
    <p><%= comment.content %></p>
  </blockquote>
  <% if comment.user == current_user %>
    <div><%= link_to t(".delete"), polymorphic_path([@commentable, comment]),
      method: :delete, class: "btn-delete" %>
    </div>
  <% end %>
</li>
