<%= search_form_for @search do |f| %>
  <div class="form-group search_form">
    <%= f.label :name_cont, t(".search") %>
    <%= f.search_field :name_cont, class: "search_field" %>
  </div>
  <div class="nht-btn-search">
    <%= f.submit t(:search), class: "btn btn-primary" %>
  </div>
<% end %>
