<% provide :title, t("users.title") %>
<h1><%= t "users.title" %></h1>
<%= render "search_form" %>
<ul class="users">
  <% @users.each do |user| %>
    <li class="list-group-item">
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
