<div class="wrapper-page">
  <div class="wrap-body group  page-artist-genre container">
    <div class="wrap-2-col">
      <div class="sidebar no-fixed">
        <ul class="data-list">
          <li class="profile-row">
            <%= link_to @user.name, edit_user_registration_path, class:
              "ellipsis" %>
          </li>
          <li><p><%= t ".favorite" %></p></li>
        </ul>
      </div>
      <div class="zcontent">
        <h3><%= t ".my_favorite_song" %></h3>
        <%= render "list_favorite_songs" %>
      </div>
    </div>
  </div>
</div>
