<div class="row">
  <div class="col-md-4">
    <h3><%= @song.name %></h3>
  </div>
  <div class="col-md-8">
    <div class="audio-player">
      <img class="cover" src="" alt="">
      <audio id="audio-player" src="<%= @song.url_content %>"
        type="audio/mp3" controls="controls"></audio>
    </div>
  </div>
</div>
<%= render "comments/form", parent_id: nil %>
<ul>
  <% if @support.comments %>
    <%= comments_tree_for @support.comments %>
  <% end %>
</ul>
