<div class="category-list">
  <%= link_to t(".add"), new_admin_category_path, class: "btn btn-primary" %>
  <br>
  <div style="margin-top: 20px">
    <% if @categories.any? %>
      <%= category_hierarchy @categories %>
    <% end %>
  </div>
</div>
