<footer>
  <div class="container">
    <div class="row">
      <div class="col-4 copyright" itemscope="" itemtype="http://schema.org/Organization">
        <img itemprop="logo" src="http://laguaz.net/skins/zmp/images/logo-ft.png">
        <p>© 2017 <span itemprop="name">FraMp3</span></p>
        <p>Framgia Imusic</p></div>
      <div class="col-5">
        <ul class="link-footer">
          <li>
            <a rel="nofollow" href="#">Introduction</a>
          </li>
          <li>
            <a  rel="nofollow" href="#">Term</a>
          </li>
          <li>
            <a rel="nofollow" href="#">Copyright</a></li>
          <li><a href="#">Application</a></li>
          <li>
            <a rel="nofollow" href="#" target="_blank">Contribution</a>
          </li>
          <li>
            <a rel="nofollow" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
