<header>
  <div class="container group">
    <div class="logo">
      <a href="/" title="Zing MP3 - Đỉnh cao âm nhạc" class="hide-text">
        <img src="http://static.mp3.zdn.vn/skins/zmp3-v4.2/images/logo.png" alt="Zing MP3 - Đỉnh cao âm nhạc" />
      </a>
    </div>
    <div id="sug" class="section-search">
      <form action="/tim-kiem/bai-hat.html" method="get" class="search">
        <input type="text" name="q" placeholder="Nhập nội dung cần tìm" class="input-txt" autocomplete="off">
        <span class="input-btn"> <button type="submit" class="zicon btn hide-text">Tìm kiếm</button> </span>
      </form>
      <div id="sugResult" class="fn-result suggestion-2 none">
        <ul>
          <li id="sugTopKeyword" class="none">
            <ul class="fn-list" style="cursor: pointer;">
              <li id="tplTopKeyword" class="none fn-item">
                <div class="meta-search">
                  <a class="ellipsis pad-top-5">
                    <span class="fn-name fn-highlight"></span> </a>
                </div>
              </li>
            </ul>
          </li>
          <li id="sugTop" class="none">
            <div class="title-row"><span class="ics zicon"></span>Top Kết Quả
            </div>
            <ul class="fn-list"></ul>
          </li>
          <li id="sugArtist" class="none">
            <div class="title-row"><span class="ics zicon ics-artist"></span>Nghệ
              Sĩ
            </div>
            <ul class="fn-list">
              <li id="tplSugArtist" class="none fn-item">
                <a class="fn-link track-log" href="#">
                  <div class="meta-search ellipsis"><img class="fn-thumb">
                    <span class="fn-name fn-highlight"></span></div>
                </a>
              </li>
            </ul>
          </li>
          <li id="sugSong" class="none">
            <div class="title-row"><span class="ics zicon ics-song"></span>Bài
              Hát
            </div>
            <ul class="fn-list">
              <li id="tplSugSong" class="none fn-item">
                <a class="fn-link track-log" href="#">
                  <div class="meta-search">
                    <p class="ellipsis pad-top-5">
                      <span class="fn-name fn-highlight"></span> <br>
                      <span class="fn-artist fn-highlight txt-info"></span></p>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li id="sugAlbum" class="none">
            <div class="title-row"><span class="ics zicon ics-album"></span>Album
            </div>
            <ul class="fn-list">
              <li id="tplSugAlbum" class="none fn-item">
                <a class="fn-link track-log" href="#">
                  <div class="meta-search"><img class="fn-thumb">
                    <p class="ellipsis pad-top-5">
                      <span class="fn-name fn-highlight"></span> <br>
                      <span class="fn-artist fn-highlight txt-info"></span></p>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li id="sugVideo" class="none">
            <div class="title-row"><span class="ics zicon ics-video"></span>Video
            </div>
            <ul class="fn-list">
              <li id="tplSugVideo" class="none fn-item">
                <a class="fn-link track-log" href="#">
                  <div class="meta-search"><img class="fn-thumb">
                    <p class="ellipsis pad-top-5">
                      <span class="fn-name fn-highlight"></span> <br>
                      <span class="fn-artist fn-highlight txt-info"></span></p>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-account pull-right fn-guestbox">
      <% if user_signed_in? %>
        <%= link_to t(".link_logout"),
          destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(".link_login"), user_session_path,
          class: "fn-login" %>
        <span class="slash">/</span>
        <%= link_to t(".link_signup"), new_user_registration_path %>
      <% end %>
      </div>
  </div>
</header>

<nav>
  <div class="container">
    <ul class="main-nav group">
      <li class="home"><a title="Zing MP3" href="/">Zing MP3</a></li>

      <li class="active"><a class="fn-login" href="/mymusic/myplaylist" title="Nhạc cá nhân">Nhạc Cá Nhân</a>
        <div class="megamenu submenu menu-col-1 fn-userbox">
          <div class="subcol menu-col-1-narrow">
            <div class="subinner_item">
              <ul>
                <li><a href="/u/" title="Kênh của tôi" class="fn-my-channel">Kênh của tôi</a></li>
                <li><a href="/mymusic/myplaylist" title="Playlist cá nhân">Playlist Cá Nhân</a></li>
                <li><a href="/mymusic/favorites-song" title="Yêu thích">Yêu Thích</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
        </div>
      </li>

      <li class="separation"></li>
      <li><a title="Chủ đề" href="/chu-de">Chủ Đề</a>
        <div class="megamenu submenu menu-col-4">
          <div class="subcol menu-col-1">
            <div class="title-menu"><a href="#" title="Nổi Bật">Nổi Bật</a></div>
            <div class="subinner_item">
              <ul>
                <li><a title="Nhạc Hot" href="/chu-de/Nhac-Hot/IWZ9Z0C8.html">Nhạc Hot</a></li>
                <li><a title="Nhạc Việt Mới" href="/chu-de/Nhac-Viet-Moi/IWZ9Z0ED.html">Nhạc Việt Mới</a></li>
              </ul>
            </div>
          </div>

          <!--End .sub-col -->

        </div>
      </li>
      <li><a title="Album" href="/the-loai-album.html">Album</a>
        <div class="megamenu submenu menu-col-4">
          <div class="subcol menu-col-1">
            <div class="title-menu"><a href="/the-loai-album/Viet-Nam/IWZ9Z08I.html" title="Việt Nam">Việt Nam</a></div>
            <div class="subinner_item">
              <ul>
                <li><a title="Nhạc Trẻ" href="/the-loai-album/Nhac-Tre/IWZ9Z088.html">Nhạc Trẻ</a></li>
                <li><a title="Nhạc Trữ Tình" href="/the-loai-album/Nhac-Tru-Tinh/IWZ9Z08B.html">Nhạc Trữ Tình</a></li>
                <li><a title="Rock Việt" href="/the-loai-album/Rock-Viet/IWZ9Z08A.html">Rock Việt</a></li>
                <li><a title="Nhạc Trịnh" href="/the-loai-album/Nhac-Trinh/IWZ9Z08E.html">Nhạc Trịnh</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a title="Nghệ Sĩ" href="/the-loai-nghe-si">Nghệ Sĩ</a>
        <div class="megamenu submenu menu-col-1">
          <div class="subcol menu-col-1-narrow">
            <div class="subinner_item">
              <ul>
                <li><a title="Việt Nam" href="/the-loai-nghe-si/Viet-Nam/IWZ9Z08I.html">Việt Nam</a></li>
                <li><a title="Âu Mỹ" href="/the-loai-nghe-si/Au-My/IWZ9Z08O.html">Âu Mỹ</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
        </div>
      </li>
      <li><a title="Bảng Xếp Hạng" href="/bang-xep-hang/index.html">BXH</a>
        <div class="megamenu submenu menu-col-3 menu-bxh">
          <div class="subcol menu-col-1-narrow">
            <div class="title-menu">Việt Nam</div>
            <div class="subinner_item">
              <ul>
                <li><a title="Bài Hát" href="/bang-xep-hang/bai-hat-Viet-Nam/IWZ9Z08I.html">Bài hát</a></li>
                <li><a title="Album" href="/bang-xep-hang/album-Viet-Nam/IWZ9Z08O.html">Album</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
          <div class="subcol menu-col-1-narrow">
            <div class="title-menu">Âu Mỹ</div>
            <div class="subinner_item">
              <ul>
                <li><a title="Bài Hát" href="/bang-xep-hang/bai-hat-Au-My/IWZ9Z0BW.html">Bài hát</a></li>
                <li><a title="Album" href="/bang-xep-hang/album-Au-My/IWZ9Z0B6.html">Album</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
          <!--End .sub-col -->
        </div>
      </li>
      <li><a title="Top 100" href="/top100/Nhac-Tre/IWZ9Z088.html">Top 100</a>
        <div class="megamenu submenu menu-col-1">
          <div class="subcol menu-col-1-narrow">
            <div class="subinner_item">
              <ul>
                <li><a title="Việt Nam" href="/top100/Nhac-Tre/IWZ9Z088.html">Việt Nam</a></li>
                <li><a title="Âu Mỹ" href="/top100/Pop/IWZ9Z097.html">Âu Mỹ</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
        </div>
      </li>
    </ul>
    <!-- END .main-nav -->
  </div>
  <!-- END .container -->
</nav>